doctype html
include includes/mixins

+page("React Workshop")
  section.index-page
    h2 React Workshop
    h4 Slides
    ul
      li
        a(href="lectures/intro.html", target="_blank") Intro
    ol
      li
        a(href="lectures/lecture-01.html", target="_blank") Project Setup
      li
        a(href="lectures/lecture-02.html", target="_blank") React Basics
      li
        a(href="lectures/lecture-03.html", target="_blank") React Router
      li
        a(href="lectures/lecture-04.html", target="_blank") Flux
      li
        a(href="lectures/lecture-05.html", target="_blank") React Forms
      li
        a(href="lectures/lecture-06.html", target="_blank") Custom Components

  section.index-page
    h2 React Training
    h4 Printable Slides
    ul
      li
        a(href="lectures/intro.html?print-pdf", target="_blank") Intro
    ol
      li
        a(href="lectures/lecture-01.html?print-pdf", target="_blank") Project Setup
      li
        a(href="lectures/lecture-02.html?print-pdf", target="_blank") React Basics
      li
        a(href="lectures/lecture-03.html?print-pdf", target="_blank") React Router
      li
        a(href="lectures/lecture-04.html?print-pdf", target="_blank") Flux
      li
        a(href="lectures/lecture-05.html?print-pdf", target="_blank") React Forms
      li
        a(href="lectures/lecture-06.html?print-pdf", target="_blank") Custom Components
