doctype html
include ../includes/mixins
- var title = "Introductions"

+page(title)
  section.index-section(data-state="index-slide")
    +animated-header()
    h3 Workshop Introductions

  section
    h1
      i.fa.fa-github
    p These slides are up on GitHub!
    a(href="https://github.com/objectpartners/angular-training", target="_blank") objectpartners/angular-training

  section
    h2 Introductions
    ul
      li Bruce Coddington
        a(href="https://twitter.com/brucecoddington", target="_blank")  (@brucecoddington)

  section
    h2 Workshop Objectives
    ul
      li Objective 1

  section
    h1 Topics
    ul
      li Project Setup and Build Tools

  section
    h2 Format
    ul
      li Lecture
      li Collaborative Live Coding
      li Individual Labs
      li Repeat

  section
    h1 The Lab

  section
    h2 Timesheetz
    p We will build a fully-functioning AngularJS application together over the next three days.
    p It is an application for tracking and updating timesheets. Woot Woot.

  section
    h2 Teammates
    ul
      li
        strong Designers
        | : Will provide styles and page designs.
      li
        strong Server Team
        | : Provide a REST Api and NodeJs application server.
      li
        strong Product Owners
        | : Provide us with requirements along the way.
      li
        strong Front End Team
        | : This is all of us and we are awesome!
