doctype html
include ../includes/mixins

+page("Lecture 05 - React Forms Validation")
  +lecture-title-page("React Forms Validation", "Lecture 05")

  section
    h1 React Forms
    
  section
    p forms and validation
    
  section
    p validation (show path)  
    p item does not update without passing validationg
    
  section
    h1 Forms
    
  section
    p controlled components
    p mixins
    
  section
    h1 TestUtils and proxyquire
    
  section
    p Routes
    p willTransitionTo
    p review route params
    p getParams()
    p transitionTo
    
  section
    h1 React
    
  section 
    p statics
    
  section
    h1 TestUtils
    
  section
    p findRenderedDOMComponentWithTag
    p Simulate
    
  section
    h1 lab prep
  
  section
    p LoginStore and LoginActions
