doctype html
include ../includes/mixins

+page("Lecture 02 - React Basics")
  +lecture-title-page("React Basics", "Lecture 02")

  section
    h1 React
    
  section
    p React.createClass() 
    p React.render();
  
  section
    p JSX
    p className
    p {}
    p Virtual DOM
    
  section 
    p Browserify require();
    p karma config
    p source maps
    p browserify/reactify plugin
  
  section
    p react/addons
    p TestUtils
    
  section 
    p state vs props
    p getInitialState
    p getInitialProps
    p render
    
  section 
    p TestUtils
    p renderIntoDocument
    p isCompositeComponent
    
  section 
    p Mocha
    p Html reporter
