doctype html
include ../includes/mixins

+page("Lecture 03 - React Router")
  +lecture-title-page("React Router", "Lecture 03")

  section
    h1 react-router
    
  section 
    p Router.run()
    p Router.State
    p Router.Navigation
    p transitionTo
    p Router.Link
    
  section 
    p <RouteHandler />
    p handlers
    
  section 
    h1 React
    
  section 
    p propTypes
    p refs
    p onClick
    
  section 
    p classes mixin
    
  section
    p mockComponent()
    
  section
    p Sinon
    p stub
    p use with proxyquire
    
  section
    p TestUtils
    p scryRenderedComponentsWithType
    p findRenderedDOMComponentWithClass
    p getDOMNode()
    
  section
    p Lab Prep
    p Show Projects and Timesheets implementation
    p controller components (nested components)
