doctype html
include ../includes/mixins

+page("Lecture 04 - Flux")
  +lecture-title-page("Flux", "Lecture 04")

  section
    h1 Flux
    
  section 
    h1 Dispatcher
    
  section
    p handleViewAction
    p handleServerAction
    
  section 
    h1 Stores

  section
    p axios

  section
    p register()
    p setState/getState
    p method must return a Promise
    
  section
    h1 Actions
    
  section
    p Constants
    p methods to fire the action
    
  section
    h1 React
    
  section
    p componentWillMount
    p componentWillUnmount
