doctype html
include ../includes/mixins

+page("Lecture 06 - Custom Components")
  +lecture-title-page("Custom Components", "Lecture 06")

  section
    h1 React

    custom components
    axios
    interceptors
    NProgress
    start/stop
